{%  extends 'profile/user.twig' %}

{% block after_content %}
    <div class="card p-3">
        <h1 class="text-center">Chambres</h1>

        <hr \>

        <h4 class="text-center">Moyenne Global: {{ target.getGlobalMoyenne() }}/10</h4>

        <hr \>

        {% for room in target.getRooms() %}
            <div class="card px-3 py-3 mt-2">
                <div class="d-flex justify-content-between">
                    <h4>{{room.title}} · {{room.getType().name}}</h4>
                    <h5>{{ room.getMoyenne() }}/10</h5>
                </div>
                <hr \>
                <span>Taille {{room.size}}m²</span>
                <span>{{room.slots}} personnes</span>
                <span>Localisation: {{ room.country }} · {{ room.city }}</span>
                <p class="m-0 my-2">{{room.description}}</p>
                <span class="mb-1">
                    Equipements:
                    {{ getEquipementsDisplay( room.getEquipements() ) }}
                </span>
                <span>{{room.price}}€ / jour</span>
                <a href="{{ route('user_room_detail', { id: room.id}) }}" class="btn btn-success mx-2 mt-2">Voir</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}