{%  extends 'logged/home.twig' %}

{% block content %}
    <form action="{{ route('user_profile_edit_auth') }}" method="POST">
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <img src="{{ asset( user_profile.avatar_filename ) }}" class="big-profile-picture">
                <h2 class="mx-3">{{ user_credentials.first_name }} {{ user_credentials.last_name }}</h2>
            </div>
            <div class="d-flex align-items-center">
                <div>
                    <button type="submit" class="btn btn-success">Sauvegarder</button>
                    <a href="/profile/{{ user.id }}" class="btn btn-danger m-3">Annuler</a>
                </div>
            </div>
        </div>

        <hr />

        <div>
            Email: {{ user.email }} <br>
            Pays: {{ user_credentials.country }} <br>
            Née le: {{ user_credentials.birth_date }} <br>
            <p class="my-3">
                Bio: <br>
                <textarea class="form-control" name="bio" rows="3">{{ user_profile.bio }}</textarea>
            </p>
        </div>

        <hr />
    </form>

{% endblock %}