{%  extends 'logged/home.twig' %}

{% block content %}

    <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <img src="{{ asset( target_profile.avatar_filename ) }}" class="big-profile-picture">
            <h2 class="mx-3">{{ target_credentials.first_name }} {{ target_credentials.last_name }}</h2>
        </div>
        {% if is_own_profile %}
        <div class="d-flex align-items-center">
            <a href="{{ route( 'user_profile_edit' ) }}" class="btn btn-primary m-3">Modifier Profile</a>
        </div>
        {% endif %}
    </div>

    <hr />

    <div>
        Email: {{ target.email }} <br>
        Pays: {{ target_credentials.country }} <br>
        Née le: {{ target_credentials.birth_date }} <br>
        <p class="my-3">
            Bio: <br>
            {{ target_profile.bio }}
        </p>
    </div>

    <hr />

    {% block after_content %}
        <div class="card p-3">
            <h1 class="text-center">Commentaires</h1>

            <hr \>

            {% for rating in target.getRatings() %}
                <div class="card p-2 mb-2">
                    <div class="d-flex justify-content-between">
                        <a href="{{ route('user_room_detail', { id: rating.getRoom().id }) }}" class="a-none">
                            <h5 class="ml-1">{{ rating.getRoom().title }} · {{ rating.created_time }}</h5>
                        </a>

                        <span>{{rating.rate}}/10</span>
                    </div>

                    <hr  \>

                    <p>
                        {{rating.comment}}
                    </p>
                </div>
            {% endfor %}
        </div>
    {% endblock %}

{% endblock %}