{%  extends 'layout.twig' %}

{% block header_link %}

{% endblock %}

{% block top_links %}
    {% block top_links_before %}{% endblock %}
    {{ drawTopBar(user) }}
    {% block top_links_after %}{% endblock %}
{% endblock %}

{% block content %}
    <div class="card p-3">
        <h3 class="text-center">Liste des chambres</h3>

        <hr \>

        {% for room in rooms %}
            <div class="card px-3 py-3 mt-2">
                <div class="d-flex justify-content-between">
                    <h4>{{room.title}} · {{room.getType().name}}</h4>
                    <h5>{{ room.getMoyenne() }}/10</h5>
                </div>
                <hr \>
                <span>Taille {{room.size}}m²</span>
                <span>{{room.slots}} personnes</span>
                <span>Localisation: {{ room.country }} · {{ room.city }}</span>
                <p class="m-0 my-2">{{room.description}}</p>
                <span class="mb-1">
                    Equipements:
                    {{ getEquipementsDisplay( room.getEquipements() ) }}
                </span>
                <span>{{room.price}}€ / jour</span>
                <a href="{{ route('user_room_detail', { id: room.id}) }}" class="btn btn-success mx-2 mt-2">Voir</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}