{% extends 'logged/home.twig' %}

{% block content %}

    <form action="{{ route('user_settings_auth') }}" method="POST">

        <div class="d-flex justify-content-center align-items-center">
            <h1>Informations</h1>
        </div>

        <hr />

        <div>
            Nom: <input type="text" name="first_name" class="form-control{% if form_status.hasError( 'first_name' ) %} is-invalid{%  endif %}" value="{{ form_status.getValue( 'first_name' ) }}">
            {% if form_status.hasError( 'first_name' ) %}
                <span class="invalid-feedback">{{ form_status.getError( 'first_name' ) }}</span>
            {% endif %}
            <br>

            Prénom: <input type="text" name="last_name" class="form-control{% if form_status.hasError( 'last_name' ) %} is-invalid{%  endif %}" value="{{ form_status.getValue( 'last_name' ) }}">
            {% if form_status.hasError( 'last_name' ) %}
                <span class="invalid-feedback">{{ form_status.getError( 'last_name' ) }}</span>
            {% endif %}
            <br>

            Pays: <input type="text" name="country" class="form-control{% if form_status.hasError( 'country' ) %} is-invalid{%  endif %}" value="{{ form_status.getValue( 'country' ) }}">
            {% if form_status.hasError( 'country' ) %}
                <span class="invalid-feedback">{{ form_status.getError( 'country' ) }}</span>
            {% endif %}
            <br>

            Née le: <input type="date" name="birth_date" class="form-control{% if form_status.hasError( 'birth_date' ) %} is-invalid{%  endif %}" value="{{ form_status.getValue( 'birth_date' ) }}">
            {% if form_status.hasError( 'birth_date' ) %}
                <span class="invalid-feedback">{{ form_status.getError( 'birth_date' ) }}</span>
            {% endif %}
            <br>
        </div>

        <div class="d-flex justify-content-center align-items-center">
            <h1>Compte</h1>
        </div>

        <hr />

        Email: <input type="text" name="email" class="form-control{% if form_status.hasError( 'email' ) %} is-invalid{%  endif %}" value="{{ form_status.getValue( 'email' ) }}">
        {% if form_status.hasError( 'email' ) %}
            <span class="invalid-feedback">{{ form_status.getError( 'email' ) }}</span>
        {% endif %}
        <br>

        <div class="my-4">
        Ancien mot de passe: <input type="password" name="o_password" class="form-control{% if form_status.hasError( 'o_password' ) %} is-invalid{%  endif %}" value="{{ form_status.getValue( 'o_password' ) }}">
        {% if form_status.hasError( 'o_password' ) %}
            <span class="invalid-feedback">{{ form_status.getError( 'o_password' ) }}</span>
        {% endif %}
        <br>
        Nouveau mot de passe: <input type="password" name="n_password" class="form-control{% if form_status.hasError( 'n_password' ) %} is-invalid{%  endif %}" value="{{ form_status.getValue( 'n_password' ) }}">
        </div>

        <hr \>

        <div class="d-flex align-items-center">
            <div>
                <button type="submit" class="btn btn-success">Sauvegarder</button>
                <a href="{{ route('user_home') }}" class="btn btn-danger m-3">Annuler</a>
            </div>
        </div>
    </form>

{% endblock %}