<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{ siteFullName() }}</title>

	<link rel="stylesheet" href="{{ asset( 'vendor/bootstrap/bootstrap.min.css' ) }}">
	<link rel="stylesheet" href="{{ asset( 'css/style.css' ) }}">
	{% block header_link %}{% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">
	{% block header %}
		<header class="bg-dark text-light">
			<div class="ico-div d-flex justify-content-between py-3">
				<div>
					{% block logo %}
						<a href="{{ route( 'home' ) }}" class="title" style="text-decoration: none;">
							<img src="{{ asset( 'img/568333.png' ) }}" alt="" style="width: 64px; height: auto;">
							<h3>{{ siteFullName() }}</h3>
						</a>
					{% endblock %}
				</div>
				<div class="d-flex align-items-center">
					{% block top_links %}{% endblock %}
				</div>
			</div>
		</header>
	{% endblock %}

	<main class="flex-grow-1 bg-light d-flex flex-column">
		{% block user_menu_bar %}
			<div class="bg-secondary text-light">
				<div class="container">
					{% block user_menu %}{% endblock %}
				</div>
			</div>
		{% endblock %}

		<div class="container py-3 flex-grow-1">
			{% block content_header %}
			{% endblock %}
			{% block content %}
			{% endblock %}
		</div>
	</main>

	<footer class="bg-dark text-light d-flex justify-content-center">
		<div class="py-3">
			Copyright &copy;2019-2020 - www.rbnb.ru
		</div>
	</footer>

	<script src="{{ asset( 'vendor/jquery/jquery-3.4.1.min.js' ) }}"></script>
	<script src="{{ asset( 'vendor/bootstrap/bootstrap.bundle.min.js' ) }}"></script>
	{% block footer_links %}{% endblock %}
</body>
</html>