{% extends 'layout.twig' %}

{% block top_links %}
    <a href="{{ route( 'login' ) }}" class="btn btn-success m-3">Connexion</a>
    <a href="{{ route( 'register' ) }}" class="btn btn-danger m-3">Inscription</a>
{% endblock %}

{% block user_menu_bar %}{% endblock %}

{% block content %}
    <div class="w-100 h-100 d-flex justify-content-center align-content-center align-items-center">
        <div class="card p-3 my-3" style="flex-basis: 33%">
            <h4 class="text-center">Rbnb.ru</h4>

            <hr \>

            <div class="my-3 d-flex flex-column">
                <span class="text-center">👍 Facile à utiliser</span>
                <span class="text-center">🕛 24h/7j</span>
                <span class="text-center">🕵️‍ Sécurisée</span>
            </div>

            <hr \>
        </div>
    </div>
{% endblock %}




