{% extends 'layout.twig' %}

{% block header %}{% endblock %}
{% block user_menu_bar %}{% endblock %}

{% block content_header %}
    <h1 class="text-center">
        <a href="{{ route('home') }}"><img src="{{ asset( 'img/568333.png' ) }}" alt="Rbnb.ru" style="width: 100px; height: auto;"></a><br>
    </h1>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div class="card">
            <div class="card-body">
                {% block form_container %}
                    {% if form_status.hasError('form') %}
                        <div style="width: 100%; display: flex; justify-content: center;">
                            <span class="text-danger">{{ form_status.getError('form') }}</span>
                        </div>
                    {% endif %}
                    <form action="{{ route( 'auth' ) }}" method="post">
                        <label class="form-row">
                            <span>Email</span>
                            <input type="text" name="email" class="form-control{% if form_status.hasError( 'email' ) %} is-invalid{%  endif %}" value="{{ form_status.getValue( 'email' ) }}">
                            {% if form_status.hasError( 'email' ) %}
                                <br><span class="invalid-feedback">{{ form_status.getError( 'email' ) }}</span>
                            {% endif %}
                        </label>

                        <label class="form-row">
                            <span>Mot de passe</span>
                            <input type="password" name="password" class="form-control{% if form_status.hasError( 'password' ) %} is-invalid{%  endif %}" value="{{ form_status.getValue( 'password' ) }}">
                            {% if form_status.hasError( 'password' ) %}
                                <br><span class="invalid-feedback">{{ form_status.getError( 'password' ) }}</span>
                            {% endif %}
                        </label>

                        <div style="width: 100%; display: flex; justify-content: center;">
                            <input type="submit" value="Se Connecter" class="btn btn-success">
                        </div>
                    </form>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}