{% extends 'visitor/login.twig' %}

{% block form_container %}
    {% if form_status.hasError('form') %}
        <span class="text-danger">{{ form_status.getError('form') }}</span>
    {% endif %}
    <form action="{{ route( 'authregister' ) }}" method="post">
        <label class="form-row">
            <span>Email</span>
            <input type="email" name="email" class="form-control{% if form_status.hasError( 'email' ) %} is-invalid{%  endif %}" value="{{ form_status.getValue( 'email' ) }}">
            {% if form_status.hasError( 'email' ) %}
                <br><span class="invalid-feedback">{{ form_status.getError( 'email' ) }}</span>
            {% endif %}
        </label>

        <label class="form-row">
            <span>Mot de passe</span>
            <input type="password" name="password" class="form-control{% if form_status.hasError( 'password' ) %} is-invalid{%  endif %}" value="{{ form_status.getValue( 'password' ) }}">
            {% if form_status.hasError( 'password' ) %}
                <br><span class="invalid-feedback">{{ form_status.getError( 'password' ) }}</span>
            {% endif %}
        </label>

        <label class="form-row">
            <span>Nom</span>
            <input type="text" name="nom" class="form-control{% if form_status.hasError( 'nom' ) %} is-invalid{%  endif %}" value="{{ form_status.getValue( 'nom' ) }}">
            {% if form_status.hasError( 'nom' ) %}
                <br><span class="invalid-feedback">{{ form_status.getError( 'nom' ) }}</span>
            {% endif %}
        </label>

        <label class="form-row">
            <span>Prenom</span>
            <input type="text" name="prenom" class="form-control{% if form_status.hasError( 'prenom' ) %} is-invalid{%  endif %}" value="{{ form_status.getValue( 'prenom' ) }}">
            {% if form_status.hasError( 'prenom' ) %}
                <br><span class="invalid-feedback">{{ form_status.getError( 'prenom' ) }}</span>
            {% endif %}
        </label>

        <label class="form-row">
            <span>Date de naissance</span>
            <input type="date" name="birthdate" class="form-control{% if form_status.hasError( 'birthdate' ) %} is-invalid{%  endif %}" value="{{ form_status.getValue( 'birthdate' ) }}">
            {% if form_status.hasError( 'birthdate' ) %}
                <br><span class="invalid-feedback">{{ form_status.getError( 'birthdate' ) }}</span>
            {% endif %}
        </label>

        <label class="form-row">
            <span>Pays</span>
            <input type="text" name="country" class="form-control{% if form_status.hasError( 'country' ) %} is-invalid{%  endif %}" value="{{ form_status.getValue( 'country' ) }}">
            {% if form_status.hasError( 'country' ) %}
                <br><span class="invalid-feedback">{{ form_status.getError( 'country' ) }}</span>
            {% endif %}
        </label>

        <label class="form-row">
            <span class="d-flex text-center" style="align-items: center;">
            S'inscrire en tant que annonceur
            <input class="mx-3" style="width: inherit;" type="checkbox" name="announcer" class="form-control" {% if form_status.hasValue('announcer') %}checked="checked"{% endif %} value="checked">
            </span>
        </label>

        <div style="width: 100%; display: flex; justify-content: center;">
            <input type="submit" value="S'inscrire" class="btn btn-success">
        </div>
    </form>
{% endblock %}