.title, .title > h3 {
    display: flex;
    align-items: center;
}

    .title > h3 {
        color: #FEFE;
        transition: .5s;
        text-decoration: none;
        margin-left: 10px;
    }

    .title, .title > h3:hover {
        color: #EEE;
    }

.ico-div {
    margin-left: 1%;
}

.profile-picture, 
.profile-picture2 {
    border-radius: 50%;
    width: auto;
    height: 48px;
    transition: .5s;
    opacity: 1;
}

    div:hover > a > .profile-picture,
    a:hover > .profile-picture2 {
        opacity: .5;
    }

.big-profile-picture {
    border-radius: 50%;
    width: auto;
    height: 164px;
}

header {
    background-color: rgba(52, 58, 64, .5);
}

#user-dropdown {
    position: relative;
    left: -55vw;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.a-none, .a-none span, .a-none:hover, .a-none span:hover {
    color: black;
    text-decoration: none;
}