{% extends 'logged/home.twig' %}

{% block content %}
    <div class="card px-4 py-4 my-4">
        <h1 class="text-center">Statistiques</h1>

        <hr \>

        <div class="d-flex justify-content-between">
            <h3>Nb Chambes: {{user_rooms_count}}</h3>
            <h3>Reservations en cours: {{ getArrayCount( user.getCurrentGlobalReservations() ) }}</h3>
            <h3>Nb Reservations: {{ getArrayCount( user.getGlobalReservations() ) }}</h3>
        </div>
    </div>
    <hr \>
    <div class="card px-4 py-4 my-4">
        <h2 class="text-center">Liste des chambres</h2>
        <hr \>
        <div class="w-100 d-flex justify-content-center my-3 mb-4">
            <a href="{{ route('announcer_add_room') }}" class="btn btn-info">Ajouter une chambre</a>
        </div>
        {% for room in user_rooms %}
            <div class="card px-3 py-3 mt-2">
                <div class="d-flex justify-content-between">
                    <h4>{{room.title}} · {{room.getType().name}}</h4>
                    <div>
                        <a href="{{ route('announcer_rooms_reservation', { id: room.id}) }}" class="btn btn-secondary mx-1">Reservations ({{ getArrayCount(room.getReservations()) }})</a>
                        <a href="{{ route('announcer_edit_room', { id: room.id}) }}" class="btn btn-primary mx-1">Modifier</a>
                        <a href="{{ route('announcer_remove_room', { id: room.id}) }}" class="btn btn-danger mx-1">Supprimer</a>
                    </div>
                </div>
                <hr \>
                <span>Taille {{room.size}}m²</span>
                <span>{{room.slots}} personnes</span>
                <span>Localisation: {{ room.country }} · {{ room.city }}</span>
                <p class="m-0 my-2">{{room.description}}</p>
                <span class="mb-1">
                    Equipements:
                    {{ getEquipementsDisplay( room.getEquipements() ) }}
                </span>
                <span>{{room.price}}€ / jour</span>
                <a href="{{ route('user_room_detail', { id: room.id}) }}" class="btn btn-success mx-2 mt-2">Voir</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}