{% extends 'logged/home.twig' %}

{% block content %}
    <div class="card px-4 py-4 my-4">
        <h1 class="text-center">
            <a class="a-none" href="{{ route('announcer_dashboard') }}">Reservations</a>
        </h1>

        <hr \>

        <h4 class="text-center">
            <a class="a-none" href="{{ route('user_room_detail', { id: target.id }) }}">🞂 {{ target.title }} ⏴</a>
        </h4>

        <hr \>

        {% for reservation in target.getReservations() %}
            <div class="card mb-3 p-2">
                <h3 class="text-center m-0 p-0">
                <a class="a-none" href="{{ route('user_profile', { id: reservation.getUser().id }) }}">
                    <img src="{{ asset(reservation.getUser().getProfile().avatar_filename) }}" class="profile-picture2 mx-2">
                    {{ reservation.getUser().getCredential().first_name }} {{ reservation.getUser().getCredential().last_name }}
                </a>
                 · {{ reservation.start_time }} -> {{ reservation.end_time }}
                 </h3>
                <hr \>
                <div class="text-center">
                    <span>Durée: {{ getDifferenceBetweenDate( getDate(reservation.end_time), getDate(reservation.start_time) ) }} jours</span><br>
                    <a href="{{ route('user_room_detail', { id: reservation.room_id }) }}">Voir chambre</a><br>

                    {% if not dateIsOutdated( getDate(reservation.end_time) ) %}
                        <a href="{{ route('user_room_cancel_reservation', { id: reservation.id}) }}" class="btn btn-danger">Annuler</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}