{% extends 'logged/home.twig' %}

{% block content %}

    <div class="card d-flex justify-content-center">
        <h1 class="text-center my-3">Modifier une chambre</h1>

        <hr \>

        <form action="{{ route('announcer_update_room', { id: target_room.id}) }}" method="POST" class="w-100 d-flex" style="flex-wrap: wrap">
            <div class="mx-4 my-4 card d-flex justify-content-center flex-grow-1 px-4 py-4">
                Type: 
                <select name="type_id" class="form-control">
                    {% for type in types %}
                        <option value="{{type.id}}" {% if type.id == form_status.getValue('type_id') %}selected="selected"{% endif %}>{{type.name}}</option>
                    {% endfor %}
                </select>

                Titre: <input type="text" name="title" class="form-control{% if form_status.hasError( 'title' ) %} is-invalid{%  endif %}" value="{{ form_status.getValue( 'title' ) }}">
                {% if form_status.hasError( 'title' ) %}
                    <span class="invalid-feedback">{{ form_status.getError( 'title' ) }}</span>
                {% endif %}
                <br>

                Prix (€, par jour): <input type="number" name="price" class="form-control{% if form_status.hasError( 'price' ) %} is-invalid{%  endif %}" value="{{ form_status.getValue( 'price' ) }}" min="1">
                {% if form_status.hasError( 'price' ) %}
                    <span class="invalid-feedback">{{ form_status.getError( 'price' ) }}</span>
                {% endif %}
                <br>

                Taille (m²): <input type="number" name="size" class="form-control{% if form_status.hasError( 'size' ) %} is-invalid{%  endif %}" value="{{ form_status.getValue( 'size' ) }}" min="1">
                {% if form_status.hasError( 'size' ) %}
                    <span class="invalid-feedback">{{ form_status.getError( 'size' ) }}</span>
                {% endif %}

                Couchage: <input type="number" name="slots" class="form-control{% if form_status.hasError( 'slots' ) %} is-invalid{%  endif %}" value="{{ form_status.getValue( 'slots' ) }}" min="1">
                {% if form_status.hasError( 'slots' ) %}
                    <span class="invalid-feedback">{{ form_status.getError( 'slots' ) }}</span>
                {% endif %}

                Pays: <input type="text" name="country" class="form-control{% if form_status.hasError( 'country' ) %} is-invalid{%  endif %}" value="{{ form_status.getValue( 'country' ) }}" min="1">
                {% if form_status.hasError( 'country' ) %}
                    <span class="invalid-feedback">{{ form_status.getError( 'country' ) }}</span>
                {% endif %}

                Ville: <input type="text" name="city" class="form-control{% if form_status.hasError( 'city' ) %} is-invalid{%  endif %}" value="{{ form_status.getValue( 'city' ) }}" min="1">
                {% if form_status.hasError( 'city' ) %}
                    <span class="invalid-feedback">{{ form_status.getError( 'city' ) }}</span>
                {% endif %}

                Description:
                <textarea class="form-control{% if form_status.hasError( 'description' ) %} is-invalid{% endif %}" name="description" rows="3">{{form_status.getValue('description')}}</textarea>
                {% if form_status.hasError( 'description' ) %}
                    <span class="invalid-feedback">{{ form_status.getError( 'description' ) }}</span>
                {% endif %}
            </div>
            <div class="mx-4 my-4 card d-flex justify-content-center flex-grow-1 px-4 py-4">
                Equipements:
                <div class="card d-flex flex-direction-column py-3 px-3 h-100" style="overflow: auto">
                    {% for equipement in equipements %}
                        <span>
                            <input type="checkbox" style="form-control" name="equipements[]" value="{{equipement.id}}" id="equipement_{{equipement.id}}" {% if equipement.id in form_status.getArray('equipements') %}checked="checked"{% endif %}> 
                            <label for="equipement_{{equipement.id}}">
                                {{ucFirst(equipement.name)}}
                            </label>
                        </span>
                    {% endfor %}
                </div>
            </div>
            <div class="d-flex align-items-center w-100 mx-4">
                <div>
                    <button type="submit" class="btn btn-success">Sauvegarder</button>
                    <a href="{{ route('announcer_dashboard') }}" class="btn btn-danger m-3">Annuler</a>
                </div>
            </div>
        </form>
    </div>

{% endblock %}