{% extends 'logged/home.twig' %}

{% block content %}

    <div class="card d-flex justify-content-center">
        <h1 class="text-center my-3">{{target_room.title}}</h1>
        
        <hr \>

        {% if is_self %}
        <div class="d-flex justify-content-between align-items-center">
            <a href="{{ route('announcer_edit_room', { id: target_room.id}) }}" class="btn btn-primary ml-3">Modifier</a>

            <a href="{{ route('user_profile', { id: target_room.getOwner().id }) }}" class="a-none">
                Publié par
                <img src="{{ asset(target_room.getOwner().getProfile().avatar_filename) }}" class="profile-picture2 mx-2">
                {{ target_room.getOwner().getCredential().first_name }} {{ target_room.getOwner().getCredential().last_name }}
            </a>

            <a href="{{ route('announcer_remove_room', { id: target_room.id}) }}" class="btn btn-danger mr-3">Supprimer</a>
        </div>
        {% else %}
            <div class="d-flex justify-content-center align-items-center">
                <a href="{{ route('user_profile', { id: target_room.getOwner().id }) }}" class="a-none">
                    Publié par 
                    <img src="{{ asset(target_room.getOwner().getProfile().avatar_filename) }}" class="profile-picture2 mx-2">
                    {{ target_room.getOwner().getCredential().first_name }} {{ target_room.getOwner().getCredential().last_name }}
                </a>
            </div>
        {% endif %}

        <hr \>

        <div class="w-100 px-5 py-2 d-flex justify-content-between">
            <h4>Reservations: {{ getArrayCount( target_room.getReservations() ) }}</h4>
            <h4>Commentaires: {{ getArrayCount( target_room.getRatings() ) }}</h4>
            <h4>Note: {{ target_room.getMoyenne() }}/10</h4>
        </div>
    </div>

    <div class="card d-flex p-3 my-2">
        <h4 class="text-center">{{target_room.getType().name}}</h4>
        <hr \>
        Superficie (m²): {{target_room.size}} <br>
        {{target_room.slots}} Couchages <br>
        Localisation: {{ target_room.country }} · {{ target_room.city }}
        <p class="my-2">
        {{target_room.description}}
        </p>
        Equipements: {{ getEquipementsDisplay( target_room.getEquipements() ) }} <br>
        <span class="mt-1">{{target_room.price}}€ / jour</span>
    </div>

    {% if not is_self %}
        <div class="card d-flex p-3">
            <h3 class="text-center">Reserver</h3>

            <hr \>

            <form action="{{ route('user_room_reserver', { id: target_room.id}) }}" method="POST">
                <div class="d-flex justify-content-center">

                <div class="card p-2 mx-2">
                    <h3 class="text-center">Début :</h3>
                    <input type="date" name="start_time" class="form-control{% if form_status.hasError( 'start_time' ) %} is-invalid{% endif %}">
                </div>

                <div class="card p-2 mx-2">
                    <h3 class="text-center">Fin :</h3>
                    <input type="date" name="end_time" class="form-control{% if form_status.hasError( 'end_time' ) %} is-invalid{% endif %}">
                </div>

                </div>

                <div class="d-flex justify-content-center mt-2">
                    <button type="submit" class="btn btn-success">Réserver</button>
                </div>
            </form>
        </div>
    {% endif %}

    <div class="card d-flex p-3 mt-2">
        <h3 class="text-center">Commentaires</h3>

        <hr \>

        {% if can_comment %}
            <form action="{{ route('user_room_postcomment', { id: target_room.id}) }}" method="POST">
                <div class="d-flex justify-content-center">
                    <div class="card d-flex p-1 mx-2" style="flex-direction: row; justify-content: center; align-content: center; align-items: center;">
                        <img src="{{ asset(user.getProfile().avatar_filename) }}" class="profile-picture">
                        <div class="mx-2">{{ user.getCredential().first_name }} {{ user.getCredential().last_name }}</div>
                    </div>

                    <div class="card d-flex py-1 px-2" style="flex-direction: row; align-items: center; align-content: center; flex-grow: 1;">
                        <input type="number" class="form-control{% if form_status.hasError( 'rate' ) %} is-invalid{% endif %}" style="width: inherit;" name="rate" min="0" max ="10" value="5">
                        <textarea class="form-control flex-grow-1 mx-2{% if form_status.hasError( 'comment' ) %} is-invalid{% endif %}" name="comment" style="height: 61%; flex-grow: 1;"></textarea>
                        <button type="submit" class="btn btn-success">Envoyer</button>
                    </div>
                </div>
            </form>

            <hr \>
        {% endif %}

        {% for rating in target_room.getRatings() %}
            <div class="card p-2 mb-2">
                <div class="d-flex justify-content-between">
                    <a href="{{ route('user_profile', { id: rating.getUser().id }) }}" class="a-none">
                        <img src="{{ asset(rating.getUser().getProfile().avatar_filename) }}" class="profile-picture">
                        <span class="ml-1">{{ rating.getUser().getCredential().first_name }} {{ rating.getUser().getCredential().last_name }} · {{ rating.created_time }}</span>
                    </a>

                    <span>{{rating.rate}}/10</span>
                </div>

                <hr  \>

                <p>
                    {{rating.comment}}
                </p>
            </div>
        {% endfor %}

        <hr \>
    </div>

{% endblock %}